<!--<div class="container custom-container-2">

   Show it when there is no diario -->
<!--   <div class="no-data text-center" *ngIf="Diarios.length == 0">
    <p>There is no diario added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/diario-create">Add Diario</button>
  </div> -->

  <!-- Diario list table, it hides when there is no diario -->
  <!-- <div *ngIf="Diarios.length !== 0">
    <br>
    <h3 class="mb-3 text-center">Lista Mensual</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha</th>
            <th scope="col">RR</th>
            <th scope="col">RE</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let diario of Diarios">
            <td>{{diario.id}}</td>
            <td>{{diario.fecha}}</td>
            <td>{{diario.RR}}</td>
            <td class="celda-centrada">{{diario.RE}}</td>
            <td class="celdas-botones">
            
              <span class="btn btn-primary " routerLink="/diario-update/{{diario.id}}">Editar</span>

              <span class="btn btn-primary " (click)="deleteDiario(diario.id)">Eliminar</span>
            
            </td>
          </tr>
          <tr>
            <td class="celda-derecha" colspan="3">
              Totales: 
            </td>
            <td class="celda-derecha">
              {{totalizado}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
 
</div>

-->

<table mat-table [dataSource]="dataSource" class="lessons-table mat-elevation-z8" style="width: 60%;">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="RR">
    <th mat-header-cell *matHeaderCellDef> RR </th>
    <td mat-cell *matCellDef="let element"> {{element.RR}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="RE">
    <th mat-header-cell *matHeaderCellDef> RE </th>
    <td mat-cell *matCellDef="let element"> {{element.RE}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="RyV">
    <th mat-header-cell *matHeaderCellDef> RyV </th>
    <td mat-cell *matCellDef="let element"> {{element.RyV}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>